---
import Button from './Button.astro';
import Icon from './Icon.astro';
---

<Button
  id="theme-switcher"
  class="fixed bottom-4 right-4 w-12 h-12 rounded-full p-2.5 bg-background"
  aria-label="Switch theme"
  variant="icon"
>
  <Icon icon="i-[lucide--palette]" />
</Button>

<script>
  import { initTheme, cycleTheme } from '../ts/theme';
  initTheme();

  const themeSwitcher = document.getElementById('theme-switcher');
  themeSwitcher?.addEventListener('click', () => {
    cycleTheme();
  });
</script>
